<header class="site-header">

  <div class="container header-container">

<!-- LOGO -->

<a href="index.html" class="logo">

  <span class="logo-text">
    Beatriz Góes
  </span>

</a>

<!-- BOTÃO MOBILE -->

<button
  class="menu-toggle"
  id="menuToggle"
  aria-label="Abrir menu"
  aria-expanded="false">

  ☰

</button>

<!-- MENU -->

<nav
  class="main-nav"
  id="mainNav">

  <ul>

    <li>
      <a href="index.html">
        Home
      </a>
    </li>

    <li>
      <a href="sobre.html">
        Sobre
      </a>
    </li>

    <li>
      <a href="evento.html">
        Show de Aniversário
      </a>
    </li>

    <li>
      <a href="contato.html">
        Contato
      </a>
    </li>

  </ul>

</nav>

  </div>

</header>
