/* ========================================
   HOME PAGE
   ----------------------------------------
   Estilos exclusivos da Home.
======================================== */

.home-page {

  --section-accent:
    var(--accent-color);

}

/* ========================================
   HERO
======================================== */
/* ==========================================
   HERO
========================================== */

.hero {
    position: relative;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../img/home/hero-beatriz.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    background-color: #000;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.hero-content {

    position: absolute;

    bottom: 90px;
    left: 50%;

    transform: translateX(-50%);

    z-index: 2;

    text-align: center;

    width: 90%;
    max-width: 500px;

}

.hero-content h1 {

    font-size: clamp(2.8rem, 8vw, 4rem);

    line-height: 1;

    margin-bottom: 0.5rem;

}

.hero-subtitle {

    font-size: 0.8rem;

    letter-spacing: 2px;

    margin-bottom: 1rem;

    color: var(--text-secondary);

}

.hero-description {

    font-size: 1.2rem;

    margin-bottom: 0.5rem;

}

.hero-info {

    margin-bottom: 2rem;

    color: var(--text-secondary);

}

.hero-buttons {

    display: flex;

    justify-content: center;

    gap: 1rem;

    flex-wrap: wrap;

}
/* ========================================
   EVENTO DESTAQUE
======================================== */

.home-evento {

}

/* ========================================
   RESUMO SOBRE
======================================== */

.home-sobre {

}

/* ========================================
   CTA FINAL
======================================== */

.home-cta {

}



/* ==========================================
   MOBILE
========================================== */

@media (max-width: 768px) {

    .hero {

        min-height: 100vh;

        background-position: center top;

        background-size: 85% auto;

    }

    .hero-content {

        bottom: 160px; 
        

    }   

    .hero-content h1 {

        font-size: clamp(3.2rem, 10vw, 5rem);

    }

}